node_modules
.env
.env.*
**/__pycache__
**/*.py[cod]
**/*.pyo
**/dist
**/.next
**/.venv
**/venv
**/venv3
backend/__pycache__
frontend/.turbo
frontend/.next
frontend/node_modules
frontend/out
**/*.sqlite
*.log
.DS_Store
